main {
  color: #333;
  font:
    400 16px/1.5 "PT Serif",
    serif;
  max-width: 768px;
  margin: 1rem auto;
  padding: 1rem 2rem;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

p {
  font-size: 1rem;
}
h3 {
  font-size: 1.528rem;
}
h2 {
  font-size: 1.888rem;
}
h1 {
  font-size: 2.334rem;
  margin-bottom: 0px;
  margin-top: 10px;
}

img {
  width: 80px;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 0px;
  opacity: 0;
}

a {
  color: inherit;
  /* font-weight: 700; */
}

a:hover {
  text-decoration: none;
  color: #b7410e;
  transition: color 0.3s ease-in-out;
}

pre,
code {
  background: #ebf9ff;
  font-family: "Source Code Pro", monospace;
  line-height: 1.8;
}

code {
  padding: 0.1rem 0.4rem;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
}

pre {
  padding: 1rem 3rem;
  margin-left: -3rem;
  margin-right: -3rem;
  overflow: auto;
}

hr {
  border-top: 1px dashed #b3b2b2;
}

.ltblue-bg, summary {
  background-color: #ebf9ff;
  border-radius: 10px;
  padding-left: 5px;
}

footer {
  margin-top: 60px;
}

.center-nav {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.left-nav {
  padding-right: 10px;
  font-weight: bold;
}

.right-nav {
  padding-left: 10px;
  font-weight: bold;
}

.active-nav {
  color: #b7410e;
}

.infobg {
  background-color: #ebf9ff;
}

.version_summary {
  background-color: inherit;
  list-style: none;
  font-weight: bold;
  float: left;
  text-decoration: underline;
}

.version_summary::-webkit-details-marker {
  display: none;
}

.version_summary:hover {
  text-decoration: none;
  color: #b7410e;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.version_span {
  float: left;
  margin-left: 5px;
  font-size: 70%;
}

.version_div {
  float: left;
  margin-left: 5px;
}

.version {
  width: 840px;
  max-width: 100%;
  margin: auto;
  display: block;
}

@media print {
  html {
    color: black;
    break-after: auto;
  }
  body {
    font-size: 32px;
  }
}
