html {
  font-size: 125%;
}

a {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
}

code {
  color: #b7410e;
  background-color: #d6d6d6;
  padding: 2px;
  border-radius: 5px;
}

h2 {
  font-size: 34px;
}

.items {
  width: 85%;
  padding: 14px;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /* border: 2px solid #000; */
  /* box-shadow: inset 0px 0px 1px 1px #000; */
  border-radius: 5px;
}

.items:hover{
  background-color: #e7e7e7;
  transition: all 0.4s ease-in-out;
}

@media all and (max-width: 1200px) {
  body {
    padding-left: 80px;
    font-size: 180%;
  }
}
