html {
  font-size: 125%;
}
a {
  text-decoration: underline;
}

code {
  color: #b7410e;
  background-color: #d6d6d6;
  padding: 2px;
  border-radius: 5px;
}

h2 {
  font-size: 34px;
}

/*
.items:hover {
  background-color:aliceblue;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
*/

@media all and (max-width: 1200px) {
  body {
    padding-left: 80px;
    font-size: 180%;
  }
}
